PORT=3000
NODE_ENV=development

# Local (sans Docker)
MONGODB_URI=mongodb://localhost:27017/afidigital

# Docker (remplacer la ligne ci-dessus par celle-ci)
# MONGODB_URI=mongodb://mongodb:27017/afidigital
